includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 5
    paths:
        - app
    tmpDir: storage/framework/cache/phpstan
    checkModelProperties: false
    universalObjectCratesClasses:
        - Illuminate\Database\Eloquent\Model
    reportUnmatchedIgnoredErrors: false
